# Large Media Folders
# Portfolio/
Portfolio/**
!Portfolio/**/
!Portfolio/**/*.jpg
!Portfolio/**/*.png
!Portfolio/**/*.gif
!Portfolio/**/*.webp
Portfolio/**/*.mp4
Portfolio/**/*.mov
Portfolio/**/*.mkv
Portfolio/**/*.wav
Portfolio/**/*.mp3
# media/

# OS files
.DS_Store
Thumbs.db

# Idea/Editor files
.vscode/
.idea/
